.center {
    text-align: center;
  }
  
  .text-gradient {
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2rem;
  }
  
  .img-container {
    text-align: center;
  }
  
  .img-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .details-container {
    margin-top: 20px;
  }
  
  .details-container p {
    font-size: 1.2rem;
  }
  
  .btn-container {
    margin-top: 20px;
  }
  
  .btn {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    border: 2px solid #343a40;
    color: #343a40;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .btn:hover {
    background-color: #343a40;
    color: #fff;
  }
  
  .btn-outline-dark {
    background-color: transparent;
  }
  
  .btn-outline-dark:hover {
    background-color: #343a40;
    color: #fff;
  }
  